@charset "utf-8";
	.NormalCharacterStyle5
{
	font-family : Helvetica;
	font-size : 21px;
	color : #000000;
	color : rgb(0, 0, 0);
}
.NormalCharacterStyle7
{
	font-family : Helvetica;
	font-size : 20px;
	color : #12110B;
	color : rgb(18, 17, 11);
}
.NormalCharacterStyle6
{
	font-family : Helvetica;
	font-size : 20px;
	color : #12110B;
	color : rgb(18, 17, 11);
}
.NormalCharacterStyle9
{
	font-family : Helvetica;
	font-size : 36px;
	color : #000000;
	color : rgb(0, 0, 0);
}
.NormalCharacterStyle
{
	font-family : Helvetica;
	font-size : 21px;
	color : #000000;
	color : rgb(0, 0, 0);
}
.NormalCharacterStyle8
{
	font-family : Helvetica;
	font-size : 36px;
	color : #000000;
	color : rgb(0, 0, 0);
}
.NormalCharacterStyle2
{
	font-family : Helvetica;
	font-size : 21px;
	color : #000000;
	color : rgb(0, 0, 0);
}
.NormalCharacterStyle1
{
	font-family : Helvetica;
	font-size : 21px;
	color : #000000;
	color : rgb(0, 0, 0);
}
.NormalCharacterStyle3
{
	font-family : Helvetica;
	font-size : 21px;
	color : #000000;
	color : rgb(0, 0, 0);
}
.NormalCharacterStyle4
{
	font-family : Helvetica;
	font-size : 21px;
	color : #000000;
	color : rgb(0, 0, 0);
}
